doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet' href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet' href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
    link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')  
  body 
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      a.navbar-brand(href='#')  SWIFTYACTIVE
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbar1' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbar1.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item.active
            a.nav-link(href='')
              | Home 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='/')  Logout
            
    block content 
    footer 
      .bg-dark.py-4
          .row.px-3
            small.ml-4.ml-sm-5.mb-2(style='color: white') Copyright © 2021
            .social-contact.ml-4.ml-sm-auto(style='color: white')
              span.fa.fa-facebook.mr-4.text-sm
              span.fa.fa-google-plus.mr-4.text-sm
              span.fa.fa-linkedin.mr-4.text-sm
              span.fa.fa-twitter.mr-4.mr-sm-5.text-sm