doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

.container-fluid.px-1.px-md-5.px-lg-1.px-xl-5.py-5.mx-auto
  .card.card0.border-0
    .row.d-flex
      .col-lg-5
        .card1.pb-5
          .row
            img.logo(src='images/swift.jpg')
          .row.px-3.justify-content-center.mt-4.mb-5.border-line
            img.image(src='https://preview.pixlr.com/images/800wm/1229/2/1229202311.jpg')
      | &grave;
      .col-lg-6
        .card2.card.border-0.px-4.py-5
          .row.mb-4.px-3
            h6.mb-0.mr-4.mt-2 Sign in with
            .facebook.text-center.mr-3
              .fa.fa-facebook
            .twitter.text-center.mr-3
              .fa.fa-twitter
            .linkedin.text-center.mr-3
              .fa.fa-linkedin
          .row.px-3.mb-4
            .line
            small.or.text-center Or
            .line
          .row.px-3
            label.mb-1
              h6.mb-0.text-sm Email Address
            input.mb-4(type='text', name='email', placeholder='Enter a valid email address')
          .row.px-3
            label.mb-1
              h6.mb-0.text-sm Password
            input(type='password', name='password', placeholder='Enter password')
          .row.px-3.mb-4
            .custom-control.custom-checkbox.custom-control-inline
              input#chk1.custom-control-input(type='checkbox', name='chk')
              label.custom-control-label.text-sm(for='chk1') Remember me
            a.ml-auto.mb-0.text-sm(href='#') Forgot Password?
          .row.mb-3.px-3
            button.btn.btn-blue.text-center(type='submit') Login
          .row.mb-4.px-3
            small.font-weight-bold
              | Don&apos;t have an account? 
              a.text-danger Register
    .bg-blue.py-4
      .row.px-3
        small.ml-4.ml-sm-5.mb-2 Copyright &copy; 2021
        .social-contact.ml-4.ml-sm-auto
          span.fa.fa-facebook.mr-4.text-sm
          span.fa.fa-google-plus.mr-4.text-sm
          span.fa.fa-linkedin.mr-4.text-sm
          span.fa.fa-twitter.mr-4.mr-sm-5.text-sm
