block content
  app-register Loading
block scripts
      script(src='runtime.496bd71aa2366d16.js')
      script(src='polyfills.ef93c2483398a895.js')
      script(src='main.43cd1d96d90c6e9d.js')
//template found and refactored from 'jsfiddle.net/bootstrapious/3j4a0Lps
