link#bootstrap-css(href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css', rel='stylesheet')
script(src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')

.container.login__container.my-5
  .row.login__row
    .col-md-6.d-flex
      img.login__imagek.align-self-center(src='https://athleticsweekly.com/wp-content/uploads/2020/11/PT-image-via-OriGym.jpg', width='100%', alt='')
    .col-md-5.d-flex
      .align-self-center.card.login__card.shadow-sm.w-100
        .card-body
          form(action='')
            h2.text-muted.text-center SwiFtyActive
            .my-5
              h5.text-center
                | Register
            div
              .form-group
                label(for='') First name 
                input.form-control.form-control-lg(type='text')
              .form-group
                label(for='') Last name
                input.form-control.form-control-lg(type='')
              .form-group
                label(for='') Email Address
                input.form-control.form-control-lg(type='')
              .form-group
                label(for='') Password
                input.form-control.form-control-lg(type='password')
              .form-group
                label(for='') Confirm Password
                input.form-control.form-control-lg(type='password')
              .form-group
                label(for='') Gender
                br
                input(type='radio', name='gender', value='male')
                |  Male
                input(type='radio', name='gender', value='female')
                |  Female
              .form-group
                label(for='') Which option best suits your goal?
                select#cars(name='cars')
                  option(value='gainMuscle') Gain Muscle
                  option(value='loseWeight') Lose Weight
                  option(value='generalFitness') General Health/Fitness
              .form-group
                a.btn.btn-primary.btn-lg.btn-block.my-3(href='#')
                  | Sign Up
                .d-flex.justify-content-between
                  a(href='#!') Already have an account? 
                  span
                    a(href='/') Login
                .dropdown-divider.my-4
