extends layout 

block content
    .container
      .row.py-5.mt-4.align-items-center
        // For Demo Purpose
        .col-md-5.pr-lg-5.mb-5.mb-md-0
          img.img-fluid.mb-3.d-none.d-md-block(src='https://preview.pixlr.com/images/800wm/1229/2/1229202311.jpg' alt='')
          h1 Create an Account
          p.font-italic.text-muted.mb-0 Workout plans based on your goals!
        // Registeration Form
        .col-md-7.col-lg-6.ml-auto
          form(action='#')
            .row
              // First Name
              .input-group.col-lg-6.mb-4
                .input-group-prepend
                  span.input-group-text.bg-white.px-4.border-md.border-right-0
                    i.fa.fa-user.text-muted
                input#firstName.form-control.bg-white.border-left-0.border-md(type='text' name='firstname' placeholder='First Name')
              // Last Name
              .input-group.col-lg-6.mb-4
                .input-group-prepend
                  span.input-group-text.bg-white.px-4.border-md.border-right-0
                    i.fa.fa-user.text-muted
                input#lastName.form-control.bg-white.border-left-0.border-md(type='text' name='lastname' placeholder='Last Name')
              // Email Address
              .input-group.col-lg-12.mb-4
                .input-group-prepend
                  span.input-group-text.bg-white.px-4.border-md.border-right-0
                    i.fa.fa-envelope.text-muted
                input#email.form-control.bg-white.border-left-0.border-md(type='email' name='email' placeholder='Email Address')
              // Phone Number
              .input-group.col-lg-12.mb-4
                .input-group-prepend
                  span.input-group-text.bg-white.px-4.border-md.border-right-0
                    i.fa.fa-phone-square.text-muted
                select#countryCode.custom-select.form-control.bg-white.border-left-0.border-md.h-100.font-weight-bold.text-muted(name='countryCode' style='max-width: 80px')
                  option(value='') +353
                  option(value='') +44
                  option(value='') +
                input#phoneNumber.form-control.bg-white.border-md.border-left-0.pl-3(type='tel' name='phone' placeholder='Phone Number')
              | .
              // Job
              .input-group.col-lg-12.mb-4
                .input-group-prepend
                  span.input-group-text.bg-white.px-4.border-md.border-right-0
                    i.fa.fa-black-tie.text-muted
                select#job.form-control.custom-select.bg-white.border-left-0.border-md(name='jobtitle')
                  option(value='') Which option best suits your goal
                  option(value='') Build Muscle
                  option(value='') Lose Weight
                  option(value='') General Health/Fitness
              // Password
              .input-group.col-lg-6.mb-4
                .input-group-prepend
                  span.input-group-text.bg-white.px-4.border-md.border-right-0
                    i.fa.fa-lock.text-muted
                input#password.form-control.bg-white.border-left-0.border-md(type='password' name='password' placeholder='Password')
              // Password Confirmation
              .input-group.col-lg-6.mb-4
                .input-group-prepend
                  span.input-group-text.bg-white.px-4.border-md.border-right-0
                    i.fa.fa-lock.text-muted
                input#passwordConfirmation.form-control.bg-white.border-left-0.border-md(type='text' name='passwordConfirmation' placeholder='Confirm Password')
              // Submit Button
              .form-group.col-lg-12.mx-auto.mb-0
                a.btn.btn-primary.btn-block.py-2(href='/general')
                  span.font-weight-bold Create your account
              // Divider Text
              .form-group.col-lg-12.mx-auto.d-flex.align-items-center.my-4
                .border-bottom.w-100.ml-5
                span.px-2.small.text-muted.font-weight-bold.text-muted OR
                .border-bottom.w-100.mr-5
              // Social Login
              .form-group.col-lg-12.mx-auto
                a.btn.btn-primary.btn-block.py-2.btn-facebook(href='#')
                  i.fa.fa-facebook-f.mr-2
                  span.font-weight-bold Continue with Facebook
                a.btn.btn-primary.btn-block.py-2.btn-twitter(href='#')
                  i.fa.fa-twitter.mr-2
                  span.font-weight-bold Continue with Twitter
              // Already Registered
              .text-center.w-100
                p.text-muted.font-weight-bold
                  | Already Registered? 
                  a.text-primary.ml-2(href='/') Login
